# Dataset - merchants.csv:
- id features:
    - these need some preprocessing, possibly conversion to embeddings
- numeric features:
    - some values are infinite, which need to be dealt with
    - there are dominating features, thus numeric features should be standardized 
- categoric features:
    - a suitable categoric encoding should be devised
- NAs:
    - fraction of NAs is very small, simple imputation with mean or mode should suffice
- duplicates:
    - 63 dropped

In [1]:
import pandas as pd
from IPython.display import display, HTML
def show_table(df, n = 5):
    return display(HTML(df[:n].to_html()))

merchants_path = r"C:\Users\tanch\Documents\NTU\NTU Year 4\Semester 1\CZ4041 - Machine Learning\Team Project\data\merchants.csv"
merchants = pd.read_csv(merchants_path)

In [2]:
id_features = ['merchant_id', 'merchant_group_id', 'merchant_category_id','subsector_id']
categoric_features = ['category_1','most_recent_sales_range', 'most_recent_purchases_range','category_4', 'city_id', 'state_id', 'category_2']
numeric_features = ['numerical_1', 'numerical_2','avg_sales_lag3', 'avg_purchases_lag3','avg_sales_lag6', 'avg_purchases_lag6','avg_sales_lag12', 'avg_purchases_lag12', 'active_months_lag3','active_months_lag6','active_months_lag12']
# len(set(id_features).union(set(categoric_features)).union(set(numeric_features))) == len(merchants.columns)

In [3]:
show_table(merchants[id_features])

In [4]:
show_table(merchants[categoric_features])

In [7]:
merchants[categoric_features].nunique()

category_1                       2
most_recent_sales_range          5
most_recent_purchases_range      5
category_4                       2
city_id                        271
state_id                        25
category_2                       5
dtype: int64

In [32]:
show_table(merchants[numeric_features])

In [8]:
merchants[numeric_features].describe()

,numerical_1,numerical_2,avg_sales_lag3,avg_purchases_lag3,avg_sales_lag6,avg_purchases_lag6,avg_sales_lag12,avg_purchases_lag12,active_months_lag3,active_months_lag6,active_months_lag12
count,334696.000000,334696.000000,334683.000000,3.346960e+05,3.346830e+05,3.346960e+05,3.346830e+05,3.346960e+05,334696.000000,334696.000000,334696.000000
mean,0.011476,0.008103,13.832993,inf,2.165079e+01,inf,2.522771e+01,inf,2.994108,5.947397,11.599335
std,1.098154,1.070497,2395.489999,NaN,3.947108e+03,NaN,5.251842e+03,NaN,0.095247,0.394936,1.520138
min,-0.057471,-0.057471,-82.130000,3.334953e-01,-8.213000e+01,1.670447e-01,-8.213000e+01,9.832954e-02,1.000000,1.000000,1.000000
25%,-0.057471,-0.057471,0.880000,9.236499e-01,8.500000e-01,9.022475e-01,8.500000e-01,8.983333e-01,3.000000,6.000000,12.000000
50%,-0.057471,-0.057471,1.000000,1.016667e+00,1.010000e+00,1.026961e+00,1.020000e+00,1.043361e+00,3.000000,6.000000,12.000000
75%,-0.047556,-0.047556,1.160000,1.146522e+00,1.230000e+00,1.215575e+00,1.290000e+00,1.266480e+00,3.000000,6.000000,12.000000
max,183.735111,182.079322,851844.640000,inf,1.513959e+06,inf,2.567408e+06,inf,3.000000,6.000000,12.000000

### statistics

In [134]:
def show_stats(temp_df):
    na_frac = dict(temp_df.isna().sum()/len(temp_df)).values()
    num_categories = [len(temp_df[col].unique()) if col in id_features+categoric_features else pd.NA for col in temp_df  ]
    numeric_mean = [temp_df[col].mean() if col in numeric_features else pd.NA for col in temp_df]
    numeric_min = [temp_df[col].min() if col in numeric_features else pd.NA for col in temp_df]
    numeric_max = [temp_df[col].max() if col in numeric_features else pd.NA for col in temp_df]
    temp_data = {
        "na_frac":na_frac,
        "num_categories":num_categories,
        "numeric_mean":numeric_mean,
        "numeric_min":numeric_min,
        "numeric_max":numeric_max
    }
    return pd.DataFrame(temp_data, index = temp_df.columns)
show_stats(merchants)

,na_frac,num_categories,numeric_mean,numeric_min,numeric_max
merchant_id,0.000000,334633,<NA>,<NA>,<NA>
merchant_group_id,0.000000,109391,<NA>,<NA>,<NA>
merchant_category_id,0.000000,324,<NA>,<NA>,<NA>
subsector_id,0.000000,41,<NA>,<NA>,<NA>
numerical_1,0.000000,<NA>,0.011476,-0.057471,183.735111
numerical_2,0.000000,<NA>,0.008103,-0.057471,182.079322
category_1,0.000000,2,<NA>,<NA>,<NA>
most_recent_sales_range,0.000000,5,<NA>,<NA>,<NA>
most_recent_purchases_range,0.000000,5,<NA>,<NA>,<NA>
avg_sales_lag3,0.000039,<NA>,13.832993,-82.13,851844.64
avg_purchases_lag3,0.000000,<NA>,inf,0.333495,inf
active_months_lag3,0.000000,<NA>,2.994108,1,3
avg_sales_lag6,0.000039,<NA>,21.650787,-82.13,1513959.0
avg_purchases_lag6,0.000000,<NA>,inf,0.167045,inf
active_months_lag6,0.000000,<NA>,5.947397,1,6
avg_sales_lag12,0.000039,<NA>,25.227709,-82.13,2567408.0
avg_purchases_lag12,0.000000,<NA>,inf,0.09833,inf
active_months_lag12,0.000000,<NA>,11.599335,1,12
category_4,0.000000,2,<NA>,<NA>,<NA>
city_id,0.000000,271,<NA>,<NA>,<NA>
state_id,0.000000,25,<NA>,<NA>,<NA>
category_2,0.035516,6,<NA>,<NA>,<NA>

In [91]:
len(merchants)

334696

In [111]:
def drop_duplicates(df, id_col = "merchant_id"):
    is_duplicates = df.merchant_id.duplicated(keep = "first")
    df = df[~is_duplicates]
    print(f"{sum(is_duplicates)} duplicates dropped")
    return df

In [112]:
drop_duplicates(merchants)

63 duplicates dropped

,merchant_id,merchant_group_id,merchant_category_id,subsector_id,numerical_1,numerical_2,category_1,most_recent_sales_range,most_recent_purchases_range,avg_sales_lag3,...,avg_sales_lag6,avg_purchases_lag6,active_months_lag6,avg_sales_lag12,avg_purchases_lag12,active_months_lag12,category_4,city_id,state_id,category_2
0,M_ID_838061e48c,8353,792,9,-0.057471,-0.057471,N,E,E,-0.40,...,-2.25,18.666667,6,-2.32,13.916667,12,N,242,9,1.0
1,M_ID_9339d880ad,3184,840,20,-0.057471,-0.057471,N,E,E,-0.72,...,-0.74,1.291667,6,-0.57,1.687500,12,N,22,16,1.0
2,M_ID_e726bbae1e,447,690,1,-0.057471,-0.057471,N,E,E,-82.13,...,-82.13,260.000000,2,-82.13,260.000000,2,N,-1,5,5.0
3,M_ID_a70e9c5f81,5026,792,9,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,4.666667,6,NaN,3.833333,12,Y,-1,-1,NaN
4,M_ID_64456c37ce,2228,222,21,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,0.361111,6,NaN,0.347222,12,Y,-1,-1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334691,M_ID_1f4773aa76,1145,705,33,3.174788,-0.047556,N,A,A,1.00,...,0.99,1.019505,6,1.00,1.024796,12,Y,69,9,1.0
334692,M_ID_725a60d404,35,544,29,-0.057471,-0.057471,Y,A,A,0.89,...,0.78,0.813473,6,0.59,0.606765,12,Y,-1,-1,NaN
334693,M_ID_f2045dd267,35,561,7,-0.057471,-0.057471,N,A,A,0.96,...,0.90,0.924769,6,0.74,0.750763,8,Y,160,21,5.0
334694,M_ID_9139332ccc,35,511,7,-0.057471,-0.057471,Y,A,A,0.94,...,0.82,0.783000,6,0.65,0.584000,12,Y,-1,-1,NaN
334695,M_ID_cd2c0b07e9,35,606,17,-0.057471,-0.057471,N,A,A,0.90,...,0.73,0.744417,6,0.53,0.540334,10,Y,69,9,1.0

In [29]:
merchants.sample(1)

,merchant_id,merchant_group_id,merchant_category_id,subsector_id,numerical_1,numerical_2,category_1,most_recent_sales_range,most_recent_purchases_range,avg_sales_lag3,...,avg_sales_lag6,avg_purchases_lag6,active_months_lag6,avg_sales_lag12,avg_purchases_lag12,active_months_lag12,category_4,city_id,state_id,category_2
79173,M_ID_5a1874b22a,31427,278,37,-0.057471,-0.057471,N,E,D,1.42,...,1.63,1.428363,6,1.71,1.512427,12,N,21,9,1.0

# Dataset - train.csv

In [5]:
import pandas as pd
from IPython.display import display, HTML
def show_table(df, n = 5):
    return display(HTML(df[:n].to_html()))

train_path = r"C:\Users\tanch\Documents\NTU\NTU Year 4\Semester 1\CZ4041 - Machine Learning\Team Project\data\train.csv"
train = pd.read_csv(train_path)
show_table(train)

In [9]:
assert len(train.card_id.unique()) == len(train)

In [27]:
len(train)

201917

# Dataset - test.csv
- card_id
    - all card ids in test.csv are not seen in train.csv

In [29]:
import pandas as pd
from IPython.display import display, HTML
def show_table(df, n = 5):
    return display(HTML(df[:n].to_html()))

test_path = r"C:\Users\tanch\Documents\NTU\NTU Year 4\Semester 1\CZ4041 - Machine Learning\Team Project\data\test.csv"
test = pd.read_csv(test_path)
show_table(test)

In [30]:
assert len(test.card_id.unique()) == len(test)
assert len(set(test.card_id.unique()) & set(train.card_id.unique())) == 0

In [31]:
len(test)

123623

# Dataset - historical_transactions.csv:

In [24]:
import pandas as pd
from IPython.display import display, HTML
def show_table(df, n = 5):
    return display(HTML(df[:n].to_html()))

transactions_path = r"C:\Users\tanch\Documents\NTU\NTU Year 4\Semester 1\CZ4041 - Machine Learning\Team Project\data\historical_transactions.csv"
transactions = pd.read_csv(transactions_path)
show_table(transactions)

In [25]:
len(transactions)

29112361

In [45]:
new_merchants[new_merchants.merchant_id == "M_ID_f5d4ce2ee6"]

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
140825,Y,C_ID_afa3d8db6c,47,N,1,B,307,M_ID_f5d4ce2ee6,1,-0.596643,2018-03-06 08:20:25,1.0,16,19
1480443,Y,C_ID_dfd2ce0703,47,N,0,A,307,M_ID_f5d4ce2ee6,1,-0.731881,2017-11-15 05:43:54,1.0,16,19
1937190,Y,C_ID_10214008c5,47,N,1,B,307,M_ID_f5d4ce2ee6,1,-0.671775,2017-09-08 17:01:54,1.0,16,19

In [46]:
merchants[merchants.merchant_id == "M_ID_f5d4ce2ee6"]

,merchant_id,merchant_group_id,merchant_category_id,subsector_id,numerical_1,numerical_2,category_1,most_recent_sales_range,most_recent_purchases_range,avg_sales_lag3,...,avg_sales_lag6,avg_purchases_lag6,active_months_lag6,avg_sales_lag12,avg_purchases_lag12,active_months_lag12,category_4,city_id,state_id,category_2
242458,M_ID_f5d4ce2ee6,77684,307,19,-0.047556,-0.047556,N,D,D,1.41,...,1.72,2.152199,6,1.82,2.315104,12,N,47,16,1.0

In [39]:
set(merchants.merchant_id).intersection(set(new_merchants.merchant_id))

{'M_ID_de0f52a017',
 'M_ID_e163d2c662',
 'M_ID_6095eced09',
 'M_ID_f5d4ce2ee6',
 'M_ID_ce4ea19db1',
 'M_ID_57c99b132f',
 'M_ID_4635109c52',
 'M_ID_0f4b195d3d',
 'M_ID_beede9ea7d',
 'M_ID_1dbb95ce04',
 'M_ID_df9d0179b8',
 'M_ID_c410ad7276',
 'M_ID_97326753e0',
 'M_ID_d51a2bba1a',
 'M_ID_172e373a95',
 'M_ID_ee417017a3',
 'M_ID_e56dc6a0a5',
 'M_ID_6748654747',
 'M_ID_1a17ebbd14',
 'M_ID_48b0bf3cce',
 'M_ID_a4c1ec9cf4',
 'M_ID_cfd2f0ad3a',
 'M_ID_f72b7f325d',
 'M_ID_da5ef19645',
 'M_ID_bf6b377ad5',
 'M_ID_ee3beb005f',
 'M_ID_40df701416',
 'M_ID_8b7ccce657',
 'M_ID_28cbe6a15b',
 'M_ID_77bed497f4',
 'M_ID_4173fa1bd0',
 'M_ID_d82c61f09b',
 'M_ID_898b33285e',
 'M_ID_d5c46422f2',
 'M_ID_b86cca88cb',
 'M_ID_aefed642b7',
 'M_ID_fc3b5454ce',
 'M_ID_5a5d6cda67',
 'M_ID_6347c5cd5f',
 'M_ID_0aaefb3089',
 'M_ID_0f37bd97bf',
 'M_ID_afadb3897c',
 'M_ID_11fbe98450',
 'M_ID_f66b936f6b',
 'M_ID_84f1ff55b9',
 'M_ID_f0508775cb',
 'M_ID_0ad12e759f',
 'M_ID_7b2b8300e0',
 'M_ID_f5210169a7',
 'M_ID_5d2740f1d7',
 'M_ID_69184082db',
 'M_ID_1c605fe342',
 'M_ID_0b303e929b',
 'M_ID_07d363ffa8',
 'M_ID_ebe8086eee',
 'M_ID_a823de8beb',
 'M_ID_557c525c38',
 'M_ID_ccd550832d',
 'M_ID_1e743d31ec',
 'M_ID_b23268a284',
 'M_ID_352d1d6679',
 'M_ID_40e0130f8d',
 'M_ID_06c8d9b17b',
 'M_ID_7d5d8cd2ac',
 'M_ID_44a81b7e32',
 'M_ID_f2d2076ebd',
 'M_ID_f4c8841b23',
 'M_ID_9a4689c41e',
 'M_ID_987b586cdc',
 'M_ID_17476d436b',
 'M_ID_aadf5d525e',
 'M_ID_f953b2ff4a',
 'M_ID_00d2e1c20f',
 'M_ID_4230263bd2',
 'M_ID_10a099f3c3',
 'M_ID_8e27f99ee7',
 'M_ID_006e4900a6',
 'M_ID_e86db0a028',
 'M_ID_2e53130cd1',
 'M_ID_70711c6581',
 'M_ID_66369538bd',
 'M_ID_e5a440585c',
 'M_ID_209ccdd5f3',
 'M_ID_919cf826e3',
 'M_ID_1cd24e6b3c',
 'M_ID_7c3b562aec',
 'M_ID_0beb8dee61',
 'M_ID_010a183fd7',
 'M_ID_ceb2e0c345',
 'M_ID_cee9d0498a',
 'M_ID_3e17aa1c58',
 'M_ID_269246f48a',
 'M_ID_7c7b903c16',
 'M_ID_d6ed1c25da',
 'M_ID_fb5aaf79f8',
 'M_ID_4bb2c8df94',
 'M_ID_310ed72733',
 'M_ID_a4c744131f',
 'M_ID_c4fe776834',
 'M_ID_6690c9165e',
 'M_ID_2c3d75ca1e',
 'M_ID_15dc84e8f8',
 'M_ID_e8da03d9d7',
 'M_ID_71f62611cd',
 'M_ID_10ed7d9157',
 'M_ID_4dc78a5b7b',
 'M_ID_4446911c08',
 'M_ID_f4f7287fd9',
 'M_ID_44c4e9ce22',
 'M_ID_8141d22280',
 'M_ID_9d272157c6',
 'M_ID_e0392669fe',
 'M_ID_4051368eb3',
 'M_ID_d8e733cb4d',
 'M_ID_eacffafb7c',
 'M_ID_a42c1f3fc9',
 'M_ID_7220886c0b',
 'M_ID_c3fe32adbe',
 'M_ID_5efa1b2608',
 'M_ID_cbbcdc8a79',
 'M_ID_7a8865f5bb',
 'M_ID_51c8c53e06',
 'M_ID_f46da162de',
 'M_ID_25a3fba67b',
 'M_ID_9c040d9674',
 'M_ID_b934e2ed94',
 'M_ID_31f9e2b37e',
 'M_ID_8d8c94d3c5',
 'M_ID_7c5d1c0515',
 'M_ID_c915357a7c',
 'M_ID_ac0e00650f',
 'M_ID_546edae586',
 'M_ID_84aeed8868',
 'M_ID_63d0cfbf84',
 'M_ID_a63ed5707e',
 'M_ID_0f30d430c5',
 'M_ID_f826b4ada5',
 'M_ID_9ad1985b32',
 'M_ID_cd92e6f13a',
 'M_ID_03af60ec88',
 'M_ID_d3a40108a3',
 'M_ID_e5cb18f987',
 'M_ID_3cd71df236',
 'M_ID_51f015cb3d',
 'M_ID_ac05b71e27',
 'M_ID_86b85c8dc4',
 'M_ID_13f507d7f5',
 'M_ID_95cbee11de',
 'M_ID_988c394b9a',
 'M_ID_d2b5f7d7d5',
 'M_ID_392114cb20',
 'M_ID_0a433b838d',
 'M_ID_41fa2234e9',
 'M_ID_546d9713da',
 'M_ID_cda8b87aa1',
 'M_ID_bcee160b0f',
 'M_ID_6d315f59a6',
 'M_ID_35fc714b91',
 'M_ID_0168817197',
 'M_ID_59fb37b8a2',
 'M_ID_560db8c832',
 'M_ID_d776d5aaf8',
 'M_ID_e89ef3a42b',
 'M_ID_63c0326a0e',
 'M_ID_0fea4459b8',
 'M_ID_b45d361cc7',
 'M_ID_1997d90434',
 'M_ID_f25ecf186c',
 'M_ID_eaaa28ee9b',
 'M_ID_f567bce912',
 'M_ID_24f4a55691',
 'M_ID_18604913e7',
 'M_ID_06ec6e28d6',
 'M_ID_09d378d75e',
 'M_ID_d0926faa9b',
 'M_ID_acb29f7839',
 'M_ID_9d50ca15fd',
 'M_ID_456ab62eb8',
 'M_ID_0c3a517d7c',
 'M_ID_78ca8e73ac',
 'M_ID_d426c334b8',
 'M_ID_3a1eeb0494',
 'M_ID_ef9f6390f3',
 'M_ID_f0d796d661',
 'M_ID_19e9fbe4d2',
 'M_ID_858edf5281',
 'M_ID_2900deb36c',
 'M_ID_5758ea26b0',
 'M_ID_00aa4cbba5',
 'M_ID_63f5c2ed2a',
 'M_ID_6c608ae0a7',
 'M_ID_6ff83f2e9c',
 'M_ID_2c6dc9da1f',
 'M_ID_be3ab00a9f',
 'M_ID_c1d318164a',
 'M_ID_bae3151e0a',
 'M_ID_a2124ad987',
 'M_ID_87a150323c',
 'M_ID_e87662cf5f',
 'M_ID_8e4495102d',
 'M_ID_4554f87ac6',
 'M_ID_727dd21078',
 'M_ID_a5358b91d0',
 'M_ID_bac0de5820',
 'M_ID_308a3b9b76',
 'M_ID_a412092316',
 'M_ID_1d981397c1',
 'M_ID_277fb7dc13',
 'M_ID_1dd8c31699',
 'M_ID_1e45722e22',
 'M_ID_321827e1c1',
 'M_ID_78b4dd3827',
 'M_ID_daa5906c65',
 'M_ID_7c9b2250d1',
 'M_ID_35a79da22b',
 'M_ID_947c2902b6',
 'M_ID_8667b07af9',
 'M_ID_0e6f5bdb58',
 'M_ID_5a48fcb0d9',
 'M_ID_66e6f0f47a',
 'M_ID_a17732f77f',
 'M_ID_2ce9ee032d',
 'M_ID_08077c58be',
 'M_ID_f668e2448b',
 'M_ID_838525c0b4',
 'M_ID_e67357957e',
 'M_ID_3968858d47',
 'M_ID_74d1bb556e',
 'M_ID_64f2995641',
 'M_ID_90bf0861a3',
 'M_ID_732c1d0443',
 'M_ID_cd253b733c',
 'M_ID_db0b192ec3',
 'M_ID_1e238495cc',
 'M_ID_bcb9ada30e',
 'M_ID_20a742968b',
 'M_ID_e92515b04d',
 'M_ID_ccef3b634a',
 'M_ID_645a35d3eb',
 'M_ID_d951d5b7a8',
 'M_ID_c59339cfcd',
 'M_ID_e52a7de9b4',
 'M_ID_649977659b',
 'M_ID_9e53bec4cf',
 'M_ID_719dd804d0',
 'M_ID_efbc9aa615',
 'M_ID_64aa88820a',
 'M_ID_8306f6ca5c',
 'M_ID_50153a23ed',
 'M_ID_ea4ea093d4',
 'M_ID_9e7aa4a228',
 'M_ID_ac1d943609',
 'M_ID_5235351879',
 'M_ID_3d9d145d85',
 'M_ID_745a0845b3',
 'M_ID_5b81f7c5a6',
 'M_ID_56a2b8a85e',
 'M_ID_a9ae333a7e',
 'M_ID_924d19b4b3',
 'M_ID_e0b1078ac7',
 'M_ID_b1ed64e52b',
 'M_ID_72bd3e943b',
 'M_ID_4b2abb6d3d',
 'M_ID_f67ef4f8ad',
 'M_ID_a93a10c198',
 'M_ID_4650f7cadf',
 'M_ID_0552ba9975',
 'M_ID_a88b160be3',
 'M_ID_363317429b',
 'M_ID_88f983f630',
 'M_ID_b1a0946347',
 'M_ID_6c38d42670',
 'M_ID_073841108f',
 'M_ID_b45fe09b98',
 'M_ID_a3db864f74',
 'M_ID_63c363d52e',
 'M_ID_c6b8a41de7',
 'M_ID_549cafc7d4',
 'M_ID_7ddbd66bbe',
 'M_ID_bdae95d80c',
 'M_ID_cfea703358',
 'M_ID_941a3089eb',
 'M_ID_984f867f3c',
 'M_ID_d7bb8efe21',
 'M_ID_cdd96e2d24',
 'M_ID_4bb5dfa3cd',
 'M_ID_2a0c49e69b',
 'M_ID_7a22931591',
 'M_ID_1edd4558e3',
 'M_ID_a61ab6af77',
 'M_ID_bc2698c144',
 'M_ID_24a4d80295',
 'M_ID_6c9af857ae',
 'M_ID_3d36ff1630',
 'M_ID_50834bb3a0',
 'M_ID_6790f54ca2',
 'M_ID_dad5f1b68f',
 'M_ID_02b8a88a04',
 'M_ID_540dd8c85b',
 'M_ID_ccf19a144a',
 'M_ID_61ffc71e45',
 'M_ID_f1babd9145',
 'M_ID_3dc841df9b',
 'M_ID_e386ee7895',
 'M_ID_37399886f0',
 'M_ID_47e276d23b',
 'M_ID_0961452174',
 'M_ID_9c35831ded',
 'M_ID_e57dd0f918',
 'M_ID_6ffd83d265',
 'M_ID_9a6fb34623',
 'M_ID_ed23d2d981',
 'M_ID_6898cb1892',
 'M_ID_cb601a0dc6',
 'M_ID_7dee206639',
 'M_ID_72468a718d',
 'M_ID_894943f048',
 'M_ID_4b4ad75420',
 'M_ID_765c8b2098',
 'M_ID_e5ca1c1ea5',
 'M_ID_f129e28c06',
 'M_ID_d811ce3395',
 'M_ID_ee101aca67',
 'M_ID_e8e451ccec',
 'M_ID_af23658804',
 'M_ID_9f8f0e3787',
 'M_ID_f1c932d3d3',
 'M_ID_53e8585e12',
 'M_ID_cf555a6ed2',
 'M_ID_b89592d01f',
 'M_ID_662d230e97',
 'M_ID_6d3b4807e5',
 'M_ID_804b2af04e',
 'M_ID_678274de7c',
 'M_ID_0f581adf1d',
 'M_ID_d00f0d378a',
 'M_ID_81a994d5dd',
 'M_ID_b609764c72',
 'M_ID_87c8c3332b',
 'M_ID_30f42caeac',
 'M_ID_4eb6a5201c',
 'M_ID_f70f8a3ffc',
 'M_ID_c79b4bbc57',
 'M_ID_d7a80a2526',
 'M_ID_b66fc3ba4a',
 'M_ID_633ac0a468',
 'M_ID_ddb27ddd8e',
 'M_ID_359bb8339d',
 'M_ID_afcaad9607',
 'M_ID_fb4084b316',
 'M_ID_86c0e569e1',
 'M_ID_546c7d6bd5',
 'M_ID_c7a9e35ec3',
 'M_ID_51d6121530',
 'M_ID_988a68971c',
 'M_ID_60c478f5f8',
 'M_ID_954b05bbdb',
 'M_ID_88167d3740',
 'M_ID_16e15b0aba',
 'M_ID_980985620c',
 'M_ID_1a228ec4c1',
 'M_ID_1ce5b7843e',
 'M_ID_a40d3f2c30',
 'M_ID_6b468e86ff',
 'M_ID_5756b271e9',
 'M_ID_af181cc732',
 'M_ID_921a102fc6',
 'M_ID_e1dc9e60d7',
 'M_ID_54ad2a2b62',
 'M_ID_fca1596d81',
 'M_ID_fe0a62b003',
 'M_ID_ddaa90694e',
 'M_ID_a07b4e2b73',
 'M_ID_0324f40810',
 'M_ID_cd561d5069',
 'M_ID_a7c83aa600',
 'M_ID_2bcca72d11',
 'M_ID_7c94b279ed',
 'M_ID_b564279752',
 'M_ID_e1b28a0eaa',
 'M_ID_0ffc3dcc5a',
 'M_ID_397cef27c3',
 'M_ID_d1c300542e',
 'M_ID_bbf9b7eaf4',
 'M_ID_d52e122fc3',
 'M_ID_2a95725bf4',
 'M_ID_d2da18ec1e',
 'M_ID_6868489b22',
 'M_ID_1c7cfbbdf1',
 'M_ID_ac91e90e5b',
 'M_ID_0f02985f43',
 'M_ID_c8fce6d4f0',
 'M_ID_eb5b4fe82a',
 'M_ID_dbc6a8d848',
 'M_ID_3d0afbf65e',
 'M_ID_e0a39410bf',
 'M_ID_e981d27e0e',
 'M_ID_eb8a61dbb6',
 'M_ID_621cea6b2e',
 'M_ID_0eb77bc8d5',
 'M_ID_8bd1c4d6ee',
 'M_ID_3b71bdb101',
 'M_ID_cb814dd40a',
 'M_ID_82d5e26f72',
 'M_ID_068849c7f3',
 'M_ID_7549732ca3',
 'M_ID_112aa8a2e9',
 'M_ID_1568ff98d1',
 'M_ID_2e58d649fa',
 'M_ID_dd0cade1a1',
 'M_ID_377650e1e7',
 'M_ID_74d92d2781',
 'M_ID_b483d4bc6f',
 'M_ID_495888d7a4',
 'M_ID_037748b27c',
 'M_ID_4ecce7a51a',
 'M_ID_e478df58ac',
 'M_ID_6995e7fba3',
 'M_ID_6021427790',
 'M_ID_6c7a9e757f',
 'M_ID_0a7195ccfc',
 'M_ID_c27edfd312',
 'M_ID_414cc43223',
 'M_ID_1fef824a49',
 'M_ID_cc4246d80b',
 'M_ID_cd19f33d6a',
 'M_ID_c6a91ffced',
 'M_ID_2767059662',
 'M_ID_c96275c330',
 'M_ID_41d00c65a7',
 'M_ID_a106df49c1',
 'M_ID_64208dbaa2',
 'M_ID_4e8971e1d0',
 'M_ID_292c3b0358',
 'M_ID_12012714b1',
 'M_ID_fa7714776e',
 'M_ID_3c36653d6a',
 'M_ID_7acfe86b50',
 'M_ID_47a0c16d05',
 'M_ID_82e1b2a782',
 'M_ID_a340d1f0f0',
 'M_ID_a32762a5e4',
 'M_ID_33bfce5e11',
 'M_ID_f46d9e71c7',
 'M_ID_f4b0bb7d08',
 'M_ID_77f780447d',
 'M_ID_03bd5d8d2f',
 'M_ID_ce32df1531',
 'M_ID_a84a6abbba',
 'M_ID_7bfae85824',
 'M_ID_707553a95c',
 'M_ID_78f43a05ca',
 'M_ID_72503f471a',
 'M_ID_b676c553e0',
 'M_ID_d1461dd88f',
 'M_ID_0257db35d9',
 'M_ID_1509e537ab',
 'M_ID_a90cd1b3ca',
 'M_ID_e40a9ccd16',
 'M_ID_a650a5361e',
 'M_ID_dd229c9c10',
 'M_ID_5f549eac15',
 'M_ID_c74e96432a',
 'M_ID_f90bcb6f28',
 'M_ID_309fa2ce0d',
 'M_ID_42a80e9c35',
 'M_ID_2cb27a25b8',
 'M_ID_0507cb7565',
 'M_ID_ce596cdbfd',
 'M_ID_e490202041',
 'M_ID_7457695eea',
 'M_ID_550f19e493',
 'M_ID_f89434ca6a',
 'M_ID_0ffcbac5bd',
 'M_ID_fbad9dcb6e',
 'M_ID_1d8a2b6962',
 'M_ID_c6bd6bcea8',
 'M_ID_f6996e21ed',
 'M_ID_21f28c2786',
 'M_ID_969ecd3ebc',
 'M_ID_335bc02fdf',
 'M_ID_23ff32477f',
 'M_ID_2ab4e469df',
 'M_ID_056dfbc8e5',
 'M_ID_1c95381251',
 'M_ID_2de02d3b6f',
 'M_ID_47ad5e31b5',
 'M_ID_a019e58dae',
 'M_ID_bf08fc3df6',
 'M_ID_c90f127a06',
 'M_ID_ade58ca354',
 'M_ID_b6f2246885',
 'M_ID_601363306d',
 'M_ID_1bda6eb987',
 'M_ID_1ca597cd5e',
 'M_ID_29eca8c96a',
 'M_ID_af675627d7',
 'M_ID_bc2ec93c59',
 'M_ID_95b206ae2d',
 'M_ID_c60c5a0aa4',
 'M_ID_854039c80b',
 'M_ID_10067a3c77',
 'M_ID_162bfb8a67',
 'M_ID_51c636dd5f',
 'M_ID_270ed7d79e',
 'M_ID_480ecfe1dd',
 'M_ID_726aa20247',
 'M_ID_8bbbc94188',
 'M_ID_dd9bd0bd47',
 'M_ID_6edf823292',
 'M_ID_6b7633fc19',
 'M_ID_a1bca1d091',
 'M_ID_1ec2e36ee6',
 'M_ID_b1f0797611',
 'M_ID_791b514047',
 'M_ID_00c6d899f7',
 'M_ID_12ae604444',
 'M_ID_3cb8b68c70',
 'M_ID_0eda4da6ef',
 'M_ID_2a4ca5aad8',
 'M_ID_f0eec1fc9c',
 'M_ID_b74a61bb4f',
 'M_ID_9507cf513a',
 'M_ID_2f132afdc0',
 'M_ID_f64eeb1d93',
 'M_ID_530ab379b7',
 'M_ID_19e177d330',
 'M_ID_ce1de7d6fd',
 'M_ID_e5081c4bfd',
 'M_ID_b3b149fda9',
 'M_ID_cd17b3a339',
 'M_ID_be65bf931c',
 'M_ID_f755fa9d42',
 'M_ID_9d42f2b7a0',
 'M_ID_ef0f502094',
 'M_ID_c5e5e0877a',
 'M_ID_373097ed38',
 'M_ID_20cb0d96ac',
 'M_ID_775e68e7f2',
 'M_ID_8920cc0a51',
 'M_ID_20bd38c8bd',
 'M_ID_795945816c',
 'M_ID_a78ba93764',
 'M_ID_644033a7d5',
 'M_ID_70ee1ee668',
 'M_ID_753f92d5e4',
 'M_ID_da7041c29c',
 'M_ID_891a8c0bc1',
 'M_ID_898579d947',
 'M_ID_9a80ec8355',
 'M_ID_b6e7480b0c',
 'M_ID_105fe0a486',
 'M_ID_407910463d',
 'M_ID_f5e4c5173e',
 'M_ID_c751fdea2b',
 'M_ID_c4b1e1ef1f',
 'M_ID_3999281d88',
 'M_ID_d114f0948b',
 'M_ID_d5be63603b',
 'M_ID_e1f9688401',
 'M_ID_f4dee9599e',
 'M_ID_3eaed11cc4',
 'M_ID_e0fecbbe8e',
 'M_ID_9443c20440',
 'M_ID_791c31ffa5',
 'M_ID_b93195efdb',
 'M_ID_1abab10842',
 'M_ID_8b5bcbfc21',
 'M_ID_7acb7f6aba',
 'M_ID_a4c1d8f935',
 'M_ID_512a7243f5',
 'M_ID_5d52ac243f',
 'M_ID_2e470f6563',
 'M_ID_f68652dd5f',
 'M_ID_bddc814923',
 'M_ID_f57130453d',
 'M_ID_d5d688f620',
 'M_ID_e44446d328',
 'M_ID_796af75c38',
 'M_ID_a79bca0a13',
 'M_ID_189f9b3b4c',
 'M_ID_4b221c240a',
 'M_ID_8c04e54628',
 'M_ID_b5cabd986d',
 'M_ID_f6a727c2c2',
 'M_ID_3a43a123c7',
 'M_ID_fca0043717',
 'M_ID_1660e7eca2',
 'M_ID_b75294d201',
 'M_ID_35ea433720',
 'M_ID_bb135caa2c',
 'M_ID_c1ec4e9aac',
 'M_ID_ead9393675',
 'M_ID_3037983198',
 'M_ID_d3b1fd1ca6',
 'M_ID_5d45e29e83',
 'M_ID_af516dcaef',
 'M_ID_0449a335a1',
 'M_ID_38b8139344',
 'M_ID_27ed491c99',
 'M_ID_b74f215bbe',
 'M_ID_a7eaef7f8c',
 'M_ID_ed765416fc',
 'M_ID_993ed19448',
 'M_ID_a2fe62a7ef',
 'M_ID_7b32c0e043',
 'M_ID_06d4366516',
 'M_ID_7a66fc7142',
 'M_ID_36040d361d',
 'M_ID_4784777ec4',
 'M_ID_19b6d30eb7',
 'M_ID_b01526dfdd',
 'M_ID_87c1ccad9f',
 'M_ID_3ec3ea6d87',
 'M_ID_459c42521a',
 'M_ID_44966de8c1',
 'M_ID_e45c0db508',
 'M_ID_222ad1783f',
 'M_ID_d0d396d669',
 'M_ID_fd78ea1707',
 'M_ID_e67b7b9426',
 'M_ID_29411da081',
 'M_ID_b8973e46be',
 'M_ID_a8e67530d0',
 'M_ID_7e2ed31daa',
 'M_ID_34216d48dd',
 'M_ID_77d8904df3',
 'M_ID_b33bf4bc41',
 'M_ID_1154421473',
 'M_ID_5c64a9487f',
 'M_ID_a2bd7787d6',
 'M_ID_10c796f974',
 'M_ID_297fa46546',
 'M_ID_a1df5c55d2',
 'M_ID_0ba5a1d200',
 'M_ID_5bfd904d9b',
 'M_ID_bc34283315',
 'M_ID_2835872210',
 'M_ID_b8dca86ca3',
 'M_ID_bae5db5049',
 'M_ID_2009c68533',
 'M_ID_68837d61e2',
 'M_ID_31a968a9b6',
 'M_ID_05cd6135f6',
 'M_ID_b83c8cd6f9',
 'M_ID_4b0e2dfa71',
 'M_ID_aac08b89a9',
 'M_ID_ddff7fe32a',
 'M_ID_e89c99de7c',
 'M_ID_ddbccaa996',
 'M_ID_cfec2f7e70',
 'M_ID_69fe4ca3cb',
 'M_ID_ca8c0371bd',
 'M_ID_b56f72cb7c',
 'M_ID_8e8c149c56',
 'M_ID_7416599f24',
 'M_ID_fd45aad3fe',
 'M_ID_7178997557',
 'M_ID_8ff76eff4b',
 'M_ID_5ca9f78bb9',
 'M_ID_77c8ac1ddb',
 'M_ID_7eaef2bf12',
 'M_ID_f6c31afc1d',
 'M_ID_2325e2bb24',
 'M_ID_1728df7527',
 'M_ID_fe38bd2972',
 'M_ID_1a7d78a764',
 'M_ID_2d8b8a7bb4',
 'M_ID_b3078b5f93',
 'M_ID_ccd0e5654f',
 'M_ID_dd8fc7b8d2',
 'M_ID_d98bec59a0',
 'M_ID_11823c2ffc',
 'M_ID_27e233c331',
 'M_ID_35271d595d',
 'M_ID_bb56904370',
 'M_ID_b35c5ab311',
 'M_ID_068a929625',
 'M_ID_801e746c9e',
 'M_ID_5c55ab6e99',
 'M_ID_ce88e0d600',
 'M_ID_8218ceb8a3',
 'M_ID_06a892fa2c',
 'M_ID_802de871df',
 'M_ID_13a4116f05',
 'M_ID_3d3622df70',
 'M_ID_717b8f5931',
 'M_ID_1a10fa6bdc',
 'M_ID_7885b7cf10',
 'M_ID_5a549499cb',
 'M_ID_1731315e70',
 'M_ID_9b91b59f00',
 'M_ID_2916f01285',
 'M_ID_e4766339a2',
 'M_ID_a87264bb1f',
 'M_ID_c37bd91749',
 'M_ID_3ea38d2c03',
 'M_ID_7cc1ffa12c',
 'M_ID_f3fcf74bbb',
 'M_ID_305aaca8f5',
 'M_ID_f27e576731',
 'M_ID_096b5f9c33',
 'M_ID_19987b345c',
 'M_ID_8672aea2a7',
 'M_ID_473ec1cd6e',
 'M_ID_57d14e9837',
 'M_ID_93958b117e',
 'M_ID_02e79c51ea',
 'M_ID_20543a117c',
 'M_ID_f8f516db87',
 'M_ID_f9a3df80bb',
 'M_ID_9fc83ad7c9',
 'M_ID_6d5e64ad05',
 'M_ID_d8c2df1245',
 'M_ID_ef3af004ac',
 'M_ID_1965dd81ad',
 'M_ID_918a040ac9',
 'M_ID_7bd10b2176',
 'M_ID_8c3d2b48c0',
 'M_ID_16b600a1f7',
 'M_ID_2954a1ba41',
 'M_ID_b0aa0db0fa',
 'M_ID_ac52155e57',
 'M_ID_8bfcc22942',
 'M_ID_37765d4d79',
 'M_ID_24e00bbe79',
 'M_ID_ab9e0c3bcd',
 'M_ID_004a41fd71',
 'M_ID_a94bb5d8e3',
 'M_ID_7d74d4f5c9',
 'M_ID_b6fef3d4fb',
 'M_ID_e709e4e89c',
 'M_ID_53281f5fe9',
 'M_ID_8340a67f66',
 'M_ID_db1006397a',
 'M_ID_1d49057886',
 'M_ID_1f7c30ef92',
 'M_ID_62c1a2d3e0',
 'M_ID_b2e67eccaf',
 'M_ID_cf1cfdb031',
 'M_ID_40e79d8936',
 'M_ID_35745e1821',
 'M_ID_0e724d8260',
 'M_ID_74cb115033',
 'M_ID_f19c246578',
 'M_ID_2511852fe9',
 'M_ID_4c599c189d',
 'M_ID_c2a67692b7',
 'M_ID_3636e4f616',
 'M_ID_0711e6307c',
 'M_ID_9ba6581ab2',
 'M_ID_b05b798e5b',
 'M_ID_0699b34c8a',
 'M_ID_1af5421ea0',
 'M_ID_e0870a1641',
 'M_ID_477e4d9d5b',
 'M_ID_6c0665377f',
 'M_ID_426f572419',
 'M_ID_b15e4b3548',
 'M_ID_765d121388',
 'M_ID_28ade570fe',
 'M_ID_eb5bea454e',
 'M_ID_56cfc8935a',
 'M_ID_6242fc4a9a',
 'M_ID_07ebadf7c4',
 'M_ID_c333b1affe',
 'M_ID_d29da25f89',
 'M_ID_021b3386af',
 'M_ID_15878b09ea',
 'M_ID_7a4654c214',
 'M_ID_10dc288112',
 'M_ID_36bfb6d435',
 'M_ID_f04a8fe066',
 'M_ID_fd06cead4c',
 'M_ID_ef87059c6c',
 'M_ID_c6433983d8',
 'M_ID_0be76230a5',
 'M_ID_3fd1b52207',
 'M_ID_471542bf04',
 'M_ID_55d64e1639',
 'M_ID_bffc04d917',
 'M_ID_d32841c3cb',
 'M_ID_9f045e097f',
 'M_ID_d7249aa5be',
 'M_ID_fdc2f62349',
 'M_ID_60d5a07c9b',
 'M_ID_9e521505e6',
 'M_ID_618466e32b',
 'M_ID_6e1895fd9b',
 'M_ID_541a2c8e41',
 'M_ID_b215f45319',
 'M_ID_0facef2cdc',
 'M_ID_df42f60b26',
 'M_ID_b8e0fe84aa',
 'M_ID_0b7b13815f',
 'M_ID_781d76db67',
 'M_ID_33d0612d9c',
 'M_ID_d69405b85b',
 'M_ID_49653abd88',
 'M_ID_1f5e067475',
 'M_ID_6bc8a30b70',
 'M_ID_7e86d96380',
 'M_ID_aaff791a9e',
 'M_ID_f5ed8dd25a',
 'M_ID_d281bcc5d5',
 'M_ID_fd00ca6421',
 'M_ID_7785c3eaf0',
 'M_ID_c932f27dfd',
 'M_ID_edada490e0',
 'M_ID_c762dd50c4',
 'M_ID_6f6be854b5',
 'M_ID_41e0d3b70b',
 'M_ID_9b77b61fa7',
 'M_ID_e35309844d',
 'M_ID_3c71a797c3',
 'M_ID_22280f2dd2',
 'M_ID_9d7d93701e',
 'M_ID_fa99064388',
 'M_ID_ba4c650cd2',
 'M_ID_cabb84d6e9',
 'M_ID_74d73893a5',
 'M_ID_efe49cf5d6',
 'M_ID_8268a6c324',
 'M_ID_0912db297f',
 'M_ID_ab7dfb67de',
 'M_ID_d27abe51b0',
 'M_ID_31b2bde572',
 'M_ID_f05e39a7be',
 'M_ID_5354fc46c9',
 'M_ID_feba06c4c6',
 'M_ID_9577ab09e4',
 'M_ID_357f938e6c',
 'M_ID_27789a441e',
 'M_ID_f7b54f8a41',
 'M_ID_6a80485f56',
 'M_ID_713cab2876',
 'M_ID_f1513647d7',
 'M_ID_e0ee711043',
 'M_ID_304f29818d',
 'M_ID_d392a1da37',
 'M_ID_4dd15e3b18',
 'M_ID_ba897ed96c',
 'M_ID_076d0b6f2b',
 'M_ID_ff64737cd5',
 'M_ID_4f0db5f1c0',
 'M_ID_516cf2ba3f',
 'M_ID_fb012bb2e0',
 'M_ID_5beb0a2533',
 'M_ID_351c4ce3fe',
 'M_ID_7c3b2033b6',
 'M_ID_4eadce3b8c',
 'M_ID_5bc4fe1ff1',
 'M_ID_723007ad1c',
 'M_ID_36aa2f7751',
 'M_ID_296a3e14a0',
 'M_ID_446ab0456c',
 'M_ID_8f9aaf0994',
 'M_ID_1a68c48fb3',
 'M_ID_971e66702a',
 'M_ID_ec3a1e762b',
 'M_ID_4dcf348e71',
 'M_ID_870cbb2379',
 'M_ID_9a1edeb188',
 'M_ID_2f0c15afde',
 'M_ID_ce3dfdeb2e',
 'M_ID_43b1c598ab',
 'M_ID_54feb44da4',
 'M_ID_6992688e32',
 'M_ID_d680f82098',
 'M_ID_d1b1c8b9bd',
 'M_ID_60f6ab9994',
 'M_ID_b8e27915a2',
 'M_ID_3e230e2ccf',
 'M_ID_fa204d012c',
 'M_ID_290251d946',
 'M_ID_02545a075e',
 'M_ID_a095cc9e84',
 'M_ID_e92f6f1a09',
 'M_ID_a878dd5c52',
 'M_ID_7aba1f53de',
 'M_ID_40632b007e',
 'M_ID_c3574a7251',
 'M_ID_ba0c224a76',
 'M_ID_52fdd39f66',
 'M_ID_5ad69fbe4e',
 'M_ID_d88dcf6702',
 'M_ID_f139f0d313',
 'M_ID_0c6323158b',
 'M_ID_548f926c19',
 'M_ID_1d5be9052b',
 'M_ID_9d50f9b327',
 'M_ID_b32cd89f24',
 'M_ID_a2b84f1a71',
 'M_ID_31db62fc35',
 'M_ID_9faec55a9d',
 'M_ID_5797e00f23',
 'M_ID_f84be5465b',
 'M_ID_831f243a37',
 'M_ID_4e0f32b234',
 'M_ID_df233c445c',
 'M_ID_d8ccfbe91b',
 'M_ID_6b64bdb884',
 'M_ID_a35f0c7779',
 'M_ID_8eaf165c16',
 'M_ID_e366954717',
 'M_ID_790852194a',
 'M_ID_ecd0ff0b19',
 'M_ID_85d7d14c49',
 'M_ID_d59148a739',
 'M_ID_bcf0a30778',
 'M_ID_1a5562a80e',
 'M_ID_509f27541b',
 'M_ID_4c0a53251c',
 'M_ID_1407864ee8',
 'M_ID_7d3f2b812c',
 'M_ID_d6678f2c7c',
 'M_ID_0a565871e0',
 'M_ID_77c12121a5',
 'M_ID_8d7c190cb5',
 'M_ID_db0252db58',
 'M_ID_3a6020d2ec',
 'M_ID_d6006043f3',
 'M_ID_f8ca6e6a8a',
 'M_ID_cab8dd7781',
 'M_ID_17408e9cc9',
 'M_ID_3a6479f0f7',
 'M_ID_0dcdfe5b88',
 'M_ID_e959b39361',
 'M_ID_58b82b7de3',
 'M_ID_1ed4078f07',
 'M_ID_003d8dadff',
 'M_ID_9f59d8743c',
 'M_ID_769c77183d',
 'M_ID_da2ecab30d',
 'M_ID_859e7afb99',
 'M_ID_ec6fbe7217',
 'M_ID_cfa4020517',
 'M_ID_5628d643be',
 'M_ID_c0b752b5f6',
 'M_ID_aa99746b02',
 'M_ID_d72dfd31c0',
 'M_ID_59697eb3da',
 'M_ID_619034c4bf',
 'M_ID_41d88d6cc0',
 'M_ID_69139d2f18',
 'M_ID_b2b4ee5d1c',
 'M_ID_5abbb1ed5a',
 'M_ID_de0ad637ca',
 'M_ID_e43aea8064',
 'M_ID_de52e8a2e4',
 'M_ID_6c74aec255',
 'M_ID_8f427fc07e',
 'M_ID_0df10f6d04',
 'M_ID_a61adeb7c1',
 'M_ID_a74e3aa222',
 'M_ID_b2c2e19428',
 'M_ID_a5524cad67',
 'M_ID_45b8584862',
 'M_ID_f75c04c1e9',
 'M_ID_6550089261',
 'M_ID_b7a99849e8',
 'M_ID_0d3c1f9204',
 'M_ID_40e2afcdd5',
 'M_ID_8831cb7895',
 'M_ID_ac803883a6',
 'M_ID_c1f716e6bf',
 'M_ID_0349d66b8b',
 'M_ID_859a769c28',
 'M_ID_1805e68507',
 'M_ID_137d99adb3',
 'M_ID_3d3b6e154f',
 'M_ID_03e90a05ee',
 'M_ID_1d6b3e9091',
 'M_ID_6240a5cedf',
 'M_ID_bfb585c1dd',
 'M_ID_4ab5d674ff',
 'M_ID_0b3f193c78',
 'M_ID_71a93be788',
 'M_ID_2a89f77b14',
 'M_ID_4f637bec15',
 'M_ID_d077a9eb57',
 'M_ID_bb5597c408',
 'M_ID_aaff911674',
 'M_ID_9eb4014003',
 'M_ID_856a78dbb6',
 'M_ID_f9f47d310b',
 'M_ID_b9d6db9879',
 'M_ID_464f4f9006',
 'M_ID_2f2a00eda0',
 'M_ID_80a6e16439',
 'M_ID_269caf792c',
 'M_ID_74b9cacef2',
 'M_ID_6b2c2bac06',
 'M_ID_a2e8fdf887',
 'M_ID_3c4dbce1bb',
 'M_ID_4cbc73567d',
 'M_ID_3ba6094903',
 'M_ID_25f3776fee',
 'M_ID_f912614cdb',
 'M_ID_3ea828e194',

# Dataset - new_merchant_transactions.csv:
- new_merchant_transactions has exactly the columns of historical_transactions

In [2]:
import pandas as pd
from IPython.display import display, HTML
def show_table(df, n = 5):
    return display(HTML(df[:n].to_html()))

new_merchants_path = r"C:\Users\tanch\Documents\NTU\NTU Year 4\Semester 1\CZ4041 - Machine Learning\Team Project\data\new_merchant_transactions.csv"
new_merchants = pd.read_csv(new_merchants_path)
show_table(new_merchants)

In [23]:
set(transactions.columns) == set(new_merchants.columns)

True

In [16]:
new_merchants.isna().sum()

authorized_flag              0
card_id                      0
city_id                      0
category_1                   0
installments                 0
category_3               55922
merchant_category_id         0
merchant_id              26216
month_lag                    0
purchase_amount              0
purchase_date                0
category_2              111745
state_id                     0
subsector_id                 0
dtype: int64

# Plan:
- first batch/benchmark dataset:
    - concat historial and new with an indicator column
    - merge transactions with merchants on merchant_id
    - remove all id columns
    - deal with NAs and duplicates
    - categorical encoding
    - numeric standardization
    - groupby card_id then aggregate
    - merge with train.csv on card_id
    

- subsequent batches:
    - next, aggregated features (all transactional data merged but differentiated between new and old)
    - next, id feature encodings e.g embeddings
    - next, date feature encodings e.g cyclic features

In [2]:
%%timeit
"hi!" in ("Hello","Supp","HI","hi!")

62.6 ns ± 4.33 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [3]:
%%timeit
"hi!" in ["Hello","Supp","HI","hi!"]

67.2 ns ± 17.3 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [6]:
a_set = set(["Hello","Supp","HI","hi!"])

In [7]:
%%timeit
"hi!" in a_set

51.1 ns ± 2.52 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)